Flask
flask-cors
opencv-python-headless==4.8.0.74
 # For headless image processing
numpy
ultralytics
googletrans==4.0.0-rc1  # Recommended version for compatibility
gTTS
gunicorn  # Required for running Flask on Render


